body {
  background: var(--background-dark);
}

.Home {
  background: radial-gradient(
      farthest-side at bottom left,
      #9651fe38,
      transparent
    ),
    radial-gradient(farthest-corner at bottom right, #9651fe38, transparent);
  color: #ffffff;
  min-height: 100vh;
  padding: 0 10%;
}

.Container {
  margin: auto;
  padding: 14rem 0;
  width: 60%;
}

.Card {
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 80px;
  background: linear-gradient(
      116.29deg,
      rgba(255, 255, 255, 0.35) -29.94%,
      rgba(255, 255, 255, 0.26) -29.93%,
      rgba(255, 255, 255, 0.15) 101.76%
    ),
    linear-gradient(121deg, #686363 -13.38%, rgba(255, 255, 255, 0) 91.48%);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(193.84px);
  z-index: 999;
}

.Content {
  padding: 4rem;

  .CardButtons {
    display: inline;

    Button {
      margin-right: 1rem;
    }
  }
}

.Section {
  padding: 6% 0;

  .SectionAssets {
    padding-left: 30px;
  }

  .SectionContent {
    padding: 0 3%;
  }
}

.InlineSection {
  display: flex;
  justify-content: space-between;
}

.List {
  ol {
    list-style: none;
    counter-reset: item;
    padding: 3% 0;

    li {
      counter-increment: item;
      margin: 30px;
    }

    li:before {
      font-weight: bold;
      margin-right: 1rem;
      content: counter(item);
      background: var(--background-subdued);
      border-radius: 20%;
      color: white;
      width: 2rem;
      text-align: center;
      display: inline-block;
      font-size: var(--font-nav);
    }
  }
}

.AboutSubtitle {
  margin-bottom: 50px;
}
