.Button {
  &.Inline {
    display: inline-block;
  }

  &.Flex {
    display: flex;
  }

  align-items: center;

  button {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: var(--font-standard);
    font-weight: bold;
    border-radius: 100rem;
    padding: 10px 50px;

    background: transparent;
    border: 2px solid white;
    background-image: linear-gradient(to right, #daff01 -5.36%, #994efc 112.5%);
    background-repeat: no-repeat;
    transition: color 0.3s, background-size 0.3s, background-position 0s 0.3s;

    &:hover {
      cursor: pointer;
    }

    &.Plain {
      background-position: 0 100%;
      background-size: 0% 100%;
      color: white;

      &:hover {
        background-position: 100% 100%;
        background-size: 100% 100%;
        color: var(--background);
      }
    }

    &.Inverted {
      background-position: 100% 100%;
      background-size: 100% 100%;
      color: var(--background);
      border-color: transparent;

      &:hover {
        background-position: 0% 100%;
        background-size: 0% 100%;
        color: white;
      }
    }

    &.ColorBorder {
      border: solid 1px transparent;
      background-image: linear-gradient(
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0)
        ),
        linear-gradient(101deg, #daff01, #994efc);
      background-origin: border-box;
      background-clip: content-box, border-box;
      box-shadow: 2px 1000px 1px rgb(97, 94, 95) inset;
      color: white;

      &:hover {
        color: black;
        box-shadow: none;
        transition: color 0.3s, box-shadow 0.3s;
      }
    }
  }
}
