.Team {
  color: white;
  background-color:rgb(18, 2, 18);
}
ol {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 150%;
  list-style: none;
  
}

.roundedList {
    
  margin: 0.7em 2.5em 1em;
  background: #ffffff;
  position: relative;
  border-radius: 40px 0px 0px 40px;
  color: #000000;
  text-align: left;
  
}

.plusCircle{
    border-radius: 50%;
    width: 34px;
    height: 34px;
    margin: 10px;
    display:inline-block;
    background: #fff;
    border: 1px solid white;
    color: white;
    background-color: rgb(140, 51, 188);
    text-align: center;
    font: 32px Arial, sans-serif;
}

.roundedList:hover {
    cursor: pointer;
  }

.Position{
    font-size: 70%;
}

