.RoundedList {
  margin: 0.7em 0;
  background: #ffffff;
  position: relative;
  border-radius: 40px 0px 0px 40px;
  color: #000000;
  text-align: left;
  display: flex;
  align-items: center;
}

.PlusIcon {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  margin: 10px;
  background: #fff;
  color: white;
  background-color: var(--primary-dark);
  text-align: center;
  font: 32px Arial, sans-serif;
}

.Position {
  font-size: 70%;
}
