.NavWrapper {
  width: 100%;
  position: fixed;
  -webkit-transition: all ease-out 0.5s;
  -moz-transition: all ease-out 0.5s;
  -o-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
  z-index: 10;

  &.Transparent {
    background-color: transparent;
  }

  &.Solid {
    background-color: var(--background-dark);
  }
}

.Navbar {
  padding: 2% 10%;
  display: flex;
  justify-content: space-between;
}

.NavItemList {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 9;
  float: right;
  list-style-type: none;
}

.NavbarLogo {
  margin-right: 100px;
}
