html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  --primary-dark: #9353ff;
  --primary-light: #daff01;
  --background: #1b1b1b;
  --background-subdued: #494949;
  --background-light: #767676;
  --background-dark: #0d0b0d;
  --font-paragraph: 2rem;
  --font-subheading: 3rem;
  --font-nav: 1.2rem;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

div {
  margin: 0;
  padding: 0;
}

.CenterText {
  text-align: center;
}
