.Image {
  height: 574px;
  width: 433px;
  border-radius: 40px;
  border: solid white 4px;

  .Small {
    height: 490px;
    width: 368px;
  }
}

.StaggerTop {
  margin-top: 8%;
}

.StaggerBottom {
  margin-bottom: 8%;
}
